*.pyc
.vscode
output
output_old
output_human_non_rigid/
output_human_scene_lab/
logs/
.idea/
pytorch3d/
data/
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.pth
*.zip
output*
*.png
*.txt
assets/snug/*